.details{
    background-color: dimgray;
    min-height: 52.5vw;
    /*height: 600px;*/
}


.details-pos {
    /*margin-top: 9%;*/
    color: #b2daca;
    /*position: static;*/
    padding: 20px;
}

.movie-photo{
    margin-top: 5%;
    width:100%;
    max-width:300px;
    /*max-height:150px;*/
}

.flex-main-detail {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.div100 {
    width: 100%;
}

.row-center-flex {
    justify-content: center;
    display: flex;
}