.details{
    background-color: dimgray;
    min-height: 1000px;
    /*height: 600px;*/
}


.details-pos {
    /*margin-top: 9%;*/
    color: #b2daca;
    /*position: static;*/
    padding: 20px;
}

.movie-photo{
    margin-top: 5%;
    width:100%;
    max-width:300px;
    /*max-height:150px;*/
}