.details{
    background-color: dimgray;
    min-height: 800px;
    height: 600px;

}


.details-pos {
    margin-top: 9%;
    position: static;
    padding: 20px;
}

.movie-photo{
    width:100%;
    max-width:300px;
    /*max-height:150px;*/
}