

.container{
    width: 100%;
    height: 15%;
    margin-bottom: 35px;
    min-height: 180px;
}

.head-bcg{
    background-color: #282c34;
}

.head-panel{
    /*position: static;*/
    margin: 0;
    left: 0;
    top: 0;
    right: 0;
    padding: 0;
}



.pos-static{
    /*position: absolute;*/
}


#headTitle  {
    font-family: Impact, Charcoal, sans-serif;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 75px;
    margin: unset;
    background-image: linear-gradient(
            to bottom right,
            #c40405 22px,
            #da0405 22px,
            #ffffff 66px)
}